$vw: 3.75;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei', serif;
  color: #333;
  background-color: #fff;

  #root {
    height: 100%;

    .app-container {
      height: 100%;

      #container {
        height: 100%;
      }
    }
  }
}
